.contact-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.contact-section h1 {
    font-family: $titlePolice;
    color: $color-secondary;
    font-size: $fontSizeHigh;  
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 10vh auto;
    max-width: 960px;
    width: 80%;
    height: 400px;
    text-align: center;
    background-color: $color-primary;
    overflow: hidden;
}

.contact-map {
    grid-column: 1/3;

    iframe {
        height: 100%;
        min-height: 250px;
        width: 100%;
    }
}

.contact-list {
    padding: .5rem;
    color: $color-secondary;
    grid-column: 3/4;
}

.contact-list h3 {
    font-size: 1.5rem;
    text-align: center;
    font-family: $subtitlePolice;
}

.contact-list ul {
    list-style: none;
    padding-top: 1rem;
}

.contact-list ul li {
    padding: .5rem;
}

.contact-list ul li a {
    text-decoration: none;
    font-family: $textPolice;
    font-size: 1rem;
    margin: 1rem;
    padding: .4rem 1rem;
    letter-spacing: .01rem;
    color: $color-secondary;
}

.contact-list ul li:hover {
    transition: .9s ease;
    transform: scale(130%);
}

@media screen and (max-width: 768px) {
    .contact-container {
        max-width: 85%;
        text-align: center;
    }

    .contact-list h3 {
        font-size: 1rem;
    }

    .contact-list ul li a {
        font-size: 1rem;
        padding: .5rem;
        margin: .5rem;
    }
}

@media screen and (max-width: 425px) {
    .contact-container {
        grid-template-columns: 1fr;
        max-width: 85%;
    }

    .contact-list h3 {
        font-size: 1rem;
    }

    .contact-list ul li a {
        font-size: .8rem;
        padding: .5rem;
        margin: .5rem;
    }
}