//FOOTER


.footer{

    position: fixed;
    
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #8DC9D6;
    text-align: center;
    display: block;
    color: black;
    font-size: 1rem;
    
    
   
}

.row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
   
}

.footer-col .Copyright{
    font-size: 20px;
    font:roboto;
   
    margin-top: 40px;
    font-weight: 200;
    position: relative;
}
.footer-col p::before{
    content: '';
    position:absolute;
    left: 0;
    
    height: 2px;
    width: 50px;

}
.footer-col .Copyright{
    margin-top: 10px;
    
}



.footer-col a{
    font-size: 16px;
    color: black;
  
    text-decoration:none;
    font-weight:300;
    transition:all 0.3s ease ;

}
.footer-col a:hover{
    color: #ffffff;
    padding-left:8px ;

}
.cookie-mention-link p{ 
    margin-top: 10px;
}


.footer-col .socila-media { 
   
    height: 100px;
    width: 100px;
    background-color: rgba(24, 127, 224, 0.2);
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;

}



.media{
    margin:1px;
    top:50px;
    animation-duration: 2s;
    animation-name: glissement;
    animation-iteration-count:2;
    }
    @keyframes glissement {
    from {
    margin-right: 100%;
    width: 300%;
    }
    
    to {
    margin-right: 0%;
    width: 100%;
    }
    
    }






/*** responsive **/




@media screen and (max-width: 0px){
    .footer-coll{
        width: 75%;
        display:flex;
        flex-direction: column;
        text-align: center;
    }

}


