.form-container {
    width: 90%;
    margin: 3.5rem 0 8rem 0;
    background-color: $color-primary;
    border-radius: 32px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.43);
    overflow: hidden;
}

.form-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 20% 60%;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    width: 55%;
    margin: 3rem auto;
    padding: 1rem;
    align-content: center;
}

.first-name { grid-area: 1 / 1 / 2 / 2; }

.last-name { grid-area: 1 / 2 / 2 / 3; }

.phone { grid-area: 2 / 1 / 3 / 2; }

.email { grid-area: 2 / 2 / 3 / 3; }

.form-container h2 {
    text-align: center;
    margin: 2rem 0;
    text-decoration: underline;
}

.form-box input { height: 2rem; }

.form-box textarea { 
    height: 10vh; 
    resize: none;
}

.form-message { grid-area: 3 / 1 / 4 / 3; }

.form-box input, .form-box textarea {
    width: 100%;
    font-size: 1rem;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid $color-secondary;
    font-weight: 700;
}

.form-box input:focus, .form-box textarea:focus {
    padding: 1.4rem;
    font-size: 1.2rem;
    background-color: $color-tertiary;
    border-radius: 5px;
    transition: 0.4s linear;
}

.form-box input:focus::placeholder, .form-box textarea:focus::placeholder {
    color: $color-secondary;
    font-weight: 700;
}

.form-box input::placeholder, .form-box textarea::placeholder {
    color: $color-secondary;
}

.form-btn { 
    display: flex;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border: solid .2rem $color-secondary;
    border-radius: .5rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    color: $color-secondary;
    background-color: $color-tertiary;
}
.form-btn:active {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: $color-tertiary;
}

.form-btn:hover { 
    transform: scale(105%);
}

.form-btn:disabled {
    transform: scale(80%);
    background-color: transparent;
    opacity: 60%;
    cursor: not-allowed;
}

@media screen and (max-width: 425px) {
    .form-box {
        display: block;
        width: 70%;
    }

    .form-box input {
        margin-bottom: 1.5rem;
    }
}