ul {
  list-style: none;
}

.logo {
  width: auto;
  height: 120%;
  margin-top: 0rem;
  margin-left: 10px;
  border: 1px solid $color-secondary;
  border-radius: 50%;
}

/* Navbar */


.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  z-index: 99;
  background-color: #8dc9d6;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0px;
}
.navbar__links {
  display: flex;
}
.navbar__link {
  padding: 0 10px;

}
.navbar__link > a {
  color: black;
  text-decoration: none;
  font-family: $textPolice;
  font-weight: 700;

}
.burger {
  display: none;
}

/*  Small device */
@media screen and (max-width: 767.98px) {
  .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    z-index: 99;
    right: 0;
    margin-top: 20px;
    background: $color-primary;
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar__links {
    width: 60vw;
    transform: translateX(0);
  }
  .navbar__link {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }

  .show-nav .navbar__link {
    transform: translateX(0);
  }
  .navbar__link > a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: $color-secondary;
    transition: all 0.4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }

  /* Toggle menu */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: white;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .bar::before {
    transform: translateY(-12px);
  }
  .bar::after {
    transform: translateY(12px);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  /* Animations  des links de la nav */
  .show-nav .first {
    transition: all 1s ease-out;
  }
  .show-nav .second {
    transition: all 1.1s ease-out;
  }
  .show-nav .third {
    transition: all 1.2s ease-out;
  }
  .show-nav .four {
    transition: all 1.3s ease-out;
  }
  .show-nav .fifth {
    transition: all 1.4s ease-out;
  }
}

/*  Media */
@media screen and (min-width: 768px) {
  .navbar__link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background: $color-tertiary;
    transition: width 0.4s;
  }

  .navbar__link:hover > a::after {
    width: 100%;
  }
}

@media screen and (max-width: 638px) {
  .sleeping_cat{
      top: -10px;
  }    

  .logo {
  width: 7vh;
  height: 7vh;
  }
}

@media screen and (max-width: 420px) {
  .logo {
  width: 7vh;
  height: 7vh;
  }
}
