.a-propos {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    padding: 5%;
}

.a-propos h3 {
    position: absolute;
    top: 48%;
    left: 50%;
    font-size: 5vw;
    padding-right: 5%;
    font-family: $textPolice;
    color: white;
}

.a-propos img {
    max-width: 100%;
    height: auto;
}

.nous {
    background-color: $color-primary;
    padding: 3em;
}

.nous h2 {
    text-align: center;
    margin-bottom: 1em;
}