.a-propos {
    background-color: #8dc9d6;
    margin-top: 15%;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20%;
}

.a-propos h2 {
    text-align: center;
    padding: 2% 0;
}

.a-propos p {
    max-width: 90%;
    margin: 0 auto;
    padding: 3% 0;
}