.donation {
  display: flex;
  flex-direction: column;
  margin: auto;
  //background-image:url("/assets/support.png");
  padding: auto;
  text-align: center;
  align-items: center;
  margin: 30px;
  background-color: rgba(141, 201, 214, 0.4);
  border-radius: 50px;
}

.soutien-section h1 {
  display: flex;
  color: $color-secondary;
  justify-content: center;
  background-color: white;
  border: 1px solid $color-secondary;
  border-radius: 8px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.43);
  height: 80px;
  align-items: center;
  margin: 5vh auto;
  padding: 2vh 4vh;
  text-align: center;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 230px;
  background-color: $color-primary;
  border-radius: 30px;
  text-align: center;

  a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
  }
}

.don {
  p {
    text-align: center;
    font-family: roboto;
    font-size: medium;
  }
}

.charity {
  margin-bottom: 5vh;
}

.btn-charity {
  display: inline-block;
  background-color: $color-secondary;
  color: #ffff;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  margin-top: 2rem;
  text-decoration: none;
}

.btn-don {
  background-color: $color-secondary;
  color: #ffff;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  margin-top: 2rem;
}


//responsive
@media screen and (min-width: 768px) {
  .donation {
    text-align: center;
    align-content: center;
  }
  .don {
    width: 50%;
    margin: auto;
    padding: auto;
    margin-bottom: 50px;
  }
  .charity {
    display: flex;
    width: 50%;
    /* margin: auto;*/
    padding: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  select {
    width: 50%;
    height: 40px;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .btn-charity {
    text-align: center;
    margin: auto;
    padding: auto;
  }
  .btn-don {
    margin-top: 60px;
  }
}

.association-external-links a {
  font-size: 0.8rem;
  font-family: $subtitlePolice;
}
