$color-primary: #8dc9d6;
$color-secondary: #1d4e89;
$color-tertiary: #f79256;
$shadow-color: #2d3142;
$color-border: #fff9a5;

h1, h3, button {
    font-family: $titlePolice;
}

p, a, input, textarea {
    font-family: $textPolice;
}
